@if (isAddingTask) {
    <app-new-task (cancel)="onCancelAddTask()" (add)="onAddtask($event)" ></app-new-task>
}

<section id="tasks">
    <header>
        <h2>{{name}}</h2>
        <menu>
            <button (click)="onStarAddTask()">Add Task</button>
        </menu>

    </header>
    <ul>
        @for (tarea of selectedUserTask; track undefined) {
           <li>
            <app-task [task]="tarea" (complete)="onCompleteTask($event)"></app-task>
        </li> 
        }
        <!-- 
        <li>  
            <app-task></app-task>
        </li>
     -->
    </ul>
</section>

