@if (isAddingTask) {
    <app-new-task [userId]="UserId" (cancel)="onCancelAddTask()"  ></app-new-task>
    
    <!--(add)="onAddtask($event)" omitimos este evento puesto que ya no existe-->

}

<section id="tasks">
    <header>
        <h2>{{name}}</h2>
        <menu>
            <button (click)="onStarAddTask()">Add Task</button>
        </menu>

    </header>
    <ul>
        @for (tarea of selectedUserTask; track undefined) {
           <li>
            <app-task [task]="tarea" ></app-task><!--(complete)="onCompleteTask($event)" presindimos de esta tarea porque se implemento desde desde task.component-->
        </li> 
        }
        <!-- 
        <li>  
            <app-task></app-task>
        </li>
     -->
    </ul>
</section>

